<div class="modal-body" style="max-height: 500px; overflow: auto;" ng-show="step == 1">
    @Html.Partial("_RealtyType")
    @Html.Partial("_AdvertType")
    @Html.Partial("_RoomFilter")
    @Html.Partial("_ApartmentFilter")
    @Html.Partial("_HouseFilter")

    @Html.Partial("_GarageFilter")
    @Html.Partial("_CommercialFilter")

    @Html.Partial("AddAdvert/_HouseSquare")
    @Html.Partial("AddAdvert/_LandSquare")

    @Html.Partial("AddAdvert/_Stage")
    @Html.Partial("AddAdvert/_Cost")
    @Html.Partial("AddAdvert/_Description")
</div>
