<div class="modal-body" style="max-height: 500px; overflow: auto;" ng-show="step == 1">
    @Html.Partial("_RealtyType")
    @Html.Partial("_AdvertType")
    @Html.Partial("_RoomFilter")
    @Html.Partial("_ApartmentFilter")
    @Html.Partial("_HouseFilter")

    @Html.Partial("_GarageFilter")
    @Html.Partial("_CommercialFilter")

    @Html.Partial("Advert/_HouseSquare")
    @Html.Partial("Advert/_LandSquare")

    @Html.Partial("Advert/_Stage")
    @Html.Partial("Advert/_Cost")
    @Html.Partial("Advert/_ContactPhone")
    @Html.Partial("Advert/_Description")
</div>
