@section head
{
    @Html.Partial("Links\\_Jquery")
    @Html.Partial("Links\\_Angular")
    @Html.Partial("Links\\_AngularRoute")
    @Html.Partial("Links\\_AngularStrap")
    @Html.Partial("Links\\_AngularAnimate")
    @Html.Partial("Links\\_Bootstrap")
    @Html.Partial("Links\\_Select2")
    @Html.Partial("Links\\_Moment")

    @Styles.Render("~/css")
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/src/markerclusterer.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>

    @Scripts.Render("~/js")
}

<div ng-controller="IndexController">
    <script type="text/ng-template" id="banner.html">
        @Html.Partial("_Banner")
    </script>

    <div id="mapSidebar" class="nav"></div>
    <div id="mapContainer" ng-gmap="mycity"></div>
    
    <script type="text/ng-template" id="filter.html">
        @Html.Partial("_Filter")
    </script>
    
    <div ng-show="loading" id="loader" class="affix well text-center animate-show-hide" style="left: 45%; right: 45%; top: -5px; box-shadow: 0 0 0 4px rgba(0,0,0, .05);">
        <div class="row">
            <div class="col-lg-5" style="padding-right:0">
                <img src="https://abs.twimg.com/a/1409252720/img/t1/spinner-rosetta-gray-32x32.gif" />
            </div>
            <div class="col-lg-6" style="padding-left:0; margin-top: 7px;">
                Загрузка...
            </div>
        </div>

    </div>

    <div class="sidebar-toggle animate-show-hide" ng-click="showFilter()" ng-hide="isAddingAdvert">
        <a href="#" class="sidebar-toggle"></a>
    </div>

    <div class="affix animate-show-hide" style="right: 0; bottom: 7px; left: 0" ng-show="isAddingAdvert">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 alert alert-info" ng-show="!emptyLocation">
                <div class="row">
                    <div class="col-lg-8" style="margin-top: 10px;">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        <strong>Укажите на карте расположение недвижимости</strong>
                    </div>
                    <div class="col-lg-4 text-right">
                        <button class="btn btn-success" ng-click="showNewAdvertDialog()" ng-enabled="isSelectedLocation">
                            OK
                        </button>
                        <button class="btn btn-default" ng-click="cancelAddingAdvert()">
                            Отмена
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-lg-offset-3 alert alert-danger" ng-show="emptyLocation">
                <div class="row">
                    <div class="col-lg-8" style="margin-top: 10px;">
                        <i class="glyphicon glyphicon-exclamation-sign"></i>
                        <strong>Расположение не выбрано. Укажите расположение на карте.</strong>
                    </div>
                    <div class="col-lg-4 text-right">
                        <button class="btn btn-success" ng-click="showNewAdvertDialog()" ng-enabled="isSelectedLocation">
                            OK
                        </button>
                        <button class="btn btn-default" ng-click="cancelAddingAdvert()">
                            Отмена
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-warning affix animate-show-hide" style="right: 33px; top: 7px;" ng-click="addAdvert()" ng-hide="isAddingAdvert">
        Подать объявление
    </button>

    <script type="text/ng-template" id="add-advert-dialog.html">
        @Html.Partial("Advert/_Add")
    </script>
    
    <script type="text/ng-template" id="advert-list.html">
        @Html.Partial("Advert/_AdvertList")
    </script>
    
    <script type="text/ng-template" id="advert-detailed.html">
        @Html.Partial("Advert/_AdvertDetailed")
    </script>
</div>